<div class="container sign-form form">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <hgroup>
            <h1>Edit <%= resource_name.to_s.humanize %></h1>
        </hgroup>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field group">
            <%= f.email_field :email, autofocus: true %>
            <span class="highlight"></span><span class="bar"></span>
            <%= f.label :email %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for:
            <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field group">

            <%= f.password_field :password, autocomplete: "off" %>
            <i>(leave blank if you don't want to change it)</i>
            <span class="highlight"></span><span class="bar"></span>
            <%= f.label :password %>
        </div>

        <div class="field group">
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
            <span class="highlight"></span><span class="bar"></span>
            <%= f.label :password_confirmation %>
        </div>

        <div class="field group">
            <%= f.password_field :current_password, autocomplete: "off" %>
            <i>(we need your current password to confirm your changes)</i>
            <span class="highlight"></span><span class="bar"></span>
            <%= f.label :current_password %>
        </div>

        <div class="actions">
            <%= f.submit "Update", :class => 'submit' %>
        </div>
        <% end %>
            <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:'submit' %>
    </div>
</div>



<h2><%= link_to "my saved events", list_rsvps_path %></h2>
