
<h1>you have saved below events</h1>
<div id="rsvpshow">
<% @rsvps.each do |rsvp| %>
  <!-- <%=rsvp.occasion.title %></br>
  <%=rsvp.occasion.date_start %></br>
  <%=rsvp.occasion.date_end %></br>
  <%=rsvp.occasion.address %></br> -->
 <!-- <a href="#"><%=rsvp.occasion.title %></a></br> -->
  <h3><%= link_to "#{rsvp.occasion.title} ", occasion_path(rsvp.occasion.id)%></h3>
  <% end %>
</div>

<h4><%= link_to "Back to all events", occasions_path %></h4>
