<%= form_for @occasion, :html => {:multipart => true} do |f|%>
  <div class="">
    <%= f.label :title  %>
    <%= f.text_field :title %>
  </div>

  <div class="">
    <%= f.label :date_start  %>
    <%= f.text_field :date_start %>
  </div>

  <div class="">
    <%= f.label :date_end  %>
    <%= f.text_field :date_end %>
  </div>

  <div class="">
    <%= f.label :description  %>
    <%= f.text_field :description %>
  </div>


  <div class="">
    <%= f.label :location  %> <br>
    <%= f.text_field :location %><br>
  </div>

  <div class="">
    <%= f.label :website  %>
    <%= f.text_field :website %>
  </div>

  <div class="">
    <%= f.label :email  %>
    <%= f.text_field :email %>
  </div>

  <%= f.submit %>
<% end %>
