<%= form_for @occasion, :html => {:multipart => true} do |f|%>
  <div class="">
    <%= f.label :title  %>
    <%= f.text_field :title %>
  </div>

  <div class="">
    <%= f.label :date  %>
    <%= f.text_field :date %>
  </div>

  <div class="">
    <%= f.label :description  %>
    <%= f.text_field :description %>
  </div>

  <div class="">
    <%= f.label :image  %> <br>
    <%= cl_image_upload_tag :image %> <%# For cloudinary image upload %>
  </div>

  <div class="">
    <%= f.label :location  %> <br>
    <%= f.text_field :location %><br>
  </div>

  <div class="">
    <%= f.label :website  %>
    <%= f.text_field :website %>
  </div>

  <div class="">
    <%= f.label :email  %>
    <%= f.text_field :email %>
  </div>

>>>>>>> cb2fc4eaceec549bb2d044a5c585b097de2c190f
  <%= f.submit %>
<% end %>
