<h2>search results for '<%= params[:search_keywords] %>'</h2>

<% if @found_occasions.empty? %>
    <p>No result found</p>
<% end %>

<% @found_occasions.each do |occasion| %>
      <h2><%= occasion.title %></h2>
      <div><%= truncate(occasion.description, :length => 80) %></div>
      <!-- show only a snip of the full length of description to 40 charactors -->
      <br>
      <%= link_to "Read full description", occasion_path(occasion.id) %>
<% end  %>



<h2>search results for '<%= params[:search_location] %>'</h2>

<% if @found_occasions_locations.empty? %>
    <p>No result found</p>
<% end %>

<% @found_occasions_locations.each do |occasion| %>
      <h2><%= occasion.title %></h2>
      <div><%= truncate(occasion.description, :length => 80) %></div>
      <!-- show only a snip of the full length of description to 40 charactors -->
      <br>
      <%= link_to "Read full description", occasion_path(occasion.id) %>
<% end  %>
