<p>search will go here</p>

<!-- search by keywords -->
  <%= form_tag search_results_path, method: 'get' do %>
    <%= text_field_tag :search_keywords, nil, placeholder: "enter keyword" %>
    <%= submit_tag "search" %>
    <% end %>


<!-- search by location -->
  <%= form_tag search_results_path, method: 'get' do %>
    <%= text_field_tag :search_location, nil, placeholder: 'enter location' %>
    <%= submit_tag "search" %>
    <% end %>


<!-- search by start and end date -->
  <%= form_tag search_results_path, method: 'get' do %>
    <%= text_field_tag 'search_date_from', nil, placeholder: 'start date',class:'datepicker' %>  <%# make the class to be datepicker so jquery-ui-picker can take place %>
    <%= text_field_tag 'search_date_to', nil, placeholder: 'end date', class:'datepicker'%> <%# make the class to be datepicker so jquery-ui-picker can take place %>
    <%= submit_tag "search" %>
    <% end %>



<!-- search weather by entering city name  -->
     <form>
      <p>Enter City name to find weather</p>
      <input id="weatherfinder" placeholder="enter city name here">
      <button id="generate" type="submit">Find current weather</button>
    </form>
    <div id= "weatherinfo">
      <div ><p>weather: <span id = "weather"></span></p></div>
      <div ><p>temp: <span id = "temp"></span></p></div>
      <div ><p>humidity: <span id = "humidity"></span></p></div>
      <div ><p>wind speed: <span id = "windspeed"></span></p></div>
    </div>
