<div class="occasion-wrapper container">
  <main>

  <h1 class="occasion-heading">
     <%# #####rsvp /save events to user's account###### %>
    <% if current_user.present?%>

    <% if @rsvp.present? %>
      <% button_class = 'glyphicon glyphicon-heart'%>
    <% else %>
      <% button_class = 'glyphicon glyphicon-heart-empty' %>
    <% end %>
    <%= button_tag  ' ', type: 'button',  id: 'rsvp_create', url: rsvp_toggle_url(@occasion), class: button_class %>


    <% else %>
        <%= link_to "Log in to save this event", user_session_path %>
    <% end %>



<%= @occasion.title %></h1>

      <div class="row">
        <div class="col-md-7 show-events">
          <figure>
            <img src='<%= @occasion.image %>' class="occasion-image">
              <% unless @occasion.cloudinary_image.nil? %>
              <%= cl_image_tag(@occasion.cloudinary_image) %>
              <%# to display cloudinary image %>
              <% end %>
          </figure>
          <section class="description-section occasion-section">
            <h3>Description</h3>
            <p><%=@occasion.description  %></p>

          </section>
          <section class="details-section occasion-section">
              <h3>Details</h3>
              <p>
              <strong>Start Date and time:
              </strong><%=@occasion.date_start.strftime("%d %B, %Y at %I:%M %P") %></p>
              <p>
              <strong>End Date and time:
              </strong><%=@occasion.date_end.strftime("%d %B, %Y at %I:%M %P") %></p>
              <p>

              <strong>Website: </strong>
              <% if @occasion.website != nil %>
              <%=@occasion.website %></p>
              <% end %>


              <p><strong>Phone:</strong>
              <% if @occasion.phone != nil %>
              <%=@occasion.phone %></p>
              <% end  %>


              <p><strong>Price:</strong>
              <% if @occasion.price =="true" %>
              <%="free event" %></p>
              <% end  %>


          </section>
          <section class="map-section occasion-section">
            <h3>Location</h3>

          <% if @occasion.address != nil %>
            <p>
              <strong>Address:
              </strong><%= @occasion.address %>
            </p>
          <% end %>
          <% if @occasion.location != nil %>
            <p>
              <strong>Location:
              </strong><%= @occasion.location %>
            </p>
          <% end %>
          <div id="map" class="map"></div>
          </section>
        </div><!-- end col-md-7 main content-->
        <div class="col-md-5 calendar-show">
          <%= render 'search_occasion_form' %>
          <%= render 'calendar'%>
<%#  To show the WEATHER DETAILS for every event. because our forecast is only 16 days ahead, we need to create an if statement to check if the event is happening in before and we can show the weather. %>
      <% if (@occasion.date_start < Date.today+16.days)%>
          <section class="weather-section occasion-section" id="weatherinfo">
            <h3>Event Weather</h3>
            <h2>
              <img id=weatherImg src="" alt="">
              <span id="mainW"></span>
            </h2>
            <table>
              <tbody>
                <tr>
                  <td>Description</td>
                  <td><span id="descriptionW"></span></td>
                </tr>
                <tr>
                  <td>Max Temp</td>
                  <td><span id="maxTempW"></span> &#8451;</td>
                </tr>
                <tr>
                  <td>Min Temp</td>
                  <td><span id="minTempW"></span> &#8451;</td>
                </tr>
              </tbody>
            </table>
          </section>
      <% end %>
        </div><!-- end col-md-5 side bar -->
      </div><!-- end row -->

      <div id="disqus_thread"></div>

      <% unless @occasion.user_id != "nil" %>
      <%= link_to " edit ", edit_occasion_path(@occasion) %>
      <%= link_to " delete", occasion_path(@occasion), method: :delete, data:{ confirm:"are you sure? "} %>
      <% end  %>

    </main>
</div><!-- end container -->
<%# ############################################################################################## %>
<%# ############################## JAVASCRIPT for the APIS ####################################### %>
<%# ############################################################################################## %>
<%# ############################################################################################## %>


<%# this is for the map to get latitude and longitude %>
<script type="text/javascript">
<%# those are variables we need to use in javascript %>
var myLatLng = {
    lat: <%= @occasion.latitude %>,
    lng: <%= @occasion.longitude %>
};
</script>
<%# This is code for the weather API to work, have a look to the weather.js %>
<script type="text/javascript">
$(document).ready(function(){
  days_to_event = <%= ((@occasion.date_start).to_date - Date.today).to_i %>-1;
  weather = getWeatherAt(days_to_event, '<%= @occasion.latitude %>', '<%= @occasion.longitude %>');
});
</script>
<%# <!-- google map API key - AIzaSyDQhiJp0Ee3xKve1KYOLfVY0kF9lHF1xrc -->
 %>
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQhiJp0Ee3xKve1KYOLfVY0kF9lHF1xrc&callback=initMap" async defer></script>

 <%# DISQUS code, to show disqus in our occasion page %>
<script>

var disqus_config = function () {
    this.page.url = '<%= occasion_url(@occasion) %>'; // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = '<%= @occasion.id %>'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function () { // DON'T EDIT BELOW THIS LINE
    var d = document,
        s = d.createElement('script');
    s.src = '//https-eventsltx-herokuapp-com.disqus.com/embed.js';
    s.setAttribute('data-timestamp', + new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
<noscript>
  <p>Please enable JavaScript to view the comments.</p>
</noscript>

<%# CONTENT FOR CALENDER, SEARCH ETC %>
