
<h1><%= @occasion.title %></h1>
<img src='<%= @occasion.image %>' alt="some_text" style="width:width;height:height;">
<div>
  <%=@occasion.description  %></br>
  <%=@occasion.date_start  %></br>
  <%=@occasion.date_end  %></br>   <%# @occasion.date_end.strftime("%e %b") %>
  <%= @occasion.address %></br>
  <%=@occasion.location  %></br>
  <div id="map" class="map"></div>

<div id="disqus_thread"></div>
<script>

var disqus_config = function () {
    this.page.url = '<%= occasion_url(@occasion) %>';  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = '<%= @occasion.id %>'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//https-eventsltx-herokuapp-com.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>


  <script>
    var myLatLng = {lat: <%= @occasion.latitude %>, lng: <%= @occasion.longitude %>};
  </script>


</div>
  <% unless @occasion.cloudinary_image.nil? %>
<div>
  <%= cl_image_tag(@occasion.cloudinary_image) %> <%# to display cloudinary image %>

</div>
<% end %>

<%= link_to " edit ", edit_occasion_path(@occasion) %>
<%= link_to " delete", occasion_path(@occasion), method: :delete, data:{ confirm:"are you sure? "} %>


<!-- google map API key - AIzaSyDQhiJp0Ee3xKve1KYOLfVY0kF9lHF1xrc -->



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQhiJp0Ee3xKve1KYOLfVY0kF9lHF1xrc&callback=initMap"
          async defer></script>
