
<h1><%= @occasion.title %></h1>
<img src='<%= @occasion.image %>' alt="some_text" style="width:width;height:height;">
<div>
  <%=@occasion.description  %></br>
  <%=@occasion.date_start  %></br>
  <%=@occasion.date_end  %></br>   <%# @occasion.date_end.strftime("%e %b") %>
  <%= @occasion.address %></br>
  <%=@occasion.location  %></br>
  <div id="map" style="width:600px;height:400px"></div>
  <script>
    var myLatLng = {lat: <%= @occasion.latitude %>, lng: <%= @occasion.longitude %>};
  </script>


</div>
  <% unless @occasion.cloudinary_image.nil? %>
<div>
  <%= cl_image_tag(@occasion.cloudinary_image) %> <%# to display cloudinary image %>

</div>
<% end %>

<%= link_to " edit ", edit_occasion_path(@occasion) %>
<%= link_to " delete", occasion_path(@occasion), method: :delete, data:{ confirm:"are you sure? "} %>


<!-- google map API key - AIzaSyDQhiJp0Ee3xKve1KYOLfVY0kF9lHF1xrc -->



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQhiJp0Ee3xKve1KYOLfVY0kF9lHF1xrc&callback=initMap"
          async defer></script>
