<div class="search-occasion-form">
<!-- search by keywords -->
  <%= form_tag search_results_path, method: 'get' do %>
    <%= text_field_tag :search_keywords, nil, placeholder: "enter keyword" %>
    <%= submit_tag "search" %>
    <% end %>


<!-- search by location -->
  <%= form_tag search_results_path, method: 'get' do %>
    <%= text_field_tag :search_location, nil, placeholder: 'enter location' %>
    <%= submit_tag "search" %>
    <% end %>


<!-- search by start and end date -->
  <%= form_tag search_results_path, method: 'get' do %>
    <%= text_field_tag 'search_date_from', nil, placeholder: 'start date',class:'datepicker' %>  <%# make the class to be datepicker so jquery-ui-picker can take place %>
    <%= text_field_tag 'search_date_to', nil, placeholder: 'end date', class:'datepicker'%> <%# make the class to be datepicker so jquery-ui-picker can take place %>
    <%= submit_tag "search", :class =>'submit' %>
    <% end %>
</div>
