<div class="search-occasion-form">
  <h3>Search For A New Event</h3>

    <div class="search-wrap">
        <!-- search by keywords -->
        <%= form_tag search_results_path, method: 'get' do %>
        <%= text_field_tag :search_keywords, nil, placeholder: "enter keyword", :class => 'search-input' %>
        <%= submit_tag "search", :class => 'search-button' %>
        <% end %>
    </div>

    <div class="search-wrap">
        <!-- search by location -->
        <%= form_tag search_results_path, method: 'get' do %>
        <%= text_field_tag :search_location, nil, placeholder: 'enter location', :class => 'search-input' %>
        <%= submit_tag "search", :class => 'search-button' %>
        <% end %>
    </div>

    <div class="search-wrap">
        <!-- search by start and end date -->
        <%= form_tag search_results_path, method: 'get' do %>
        <%= text_field_tag 'search_date_from', nil, placeholder: 'start date',class:'datepicker search-date-input' %>
        <%# make the class to be datepicker so jquery-ui-picker can take place %>
        <%= text_field_tag 'search_date_to', nil, placeholder: 'end date', class:'datepicker search-date-input'%>
        <%# make the class to be datepicker so jquery-ui-picker can take place %>
        <%= submit_tag "search", :class =>'submit', :class => 'search-button'%>
        <% end %>
    </div>
</div>
